.navbar .text-orange {
  color: var(--orange) !important;
}
.navbar .text-fg {
  color: var(--foodiesGreen) !important;
}
nav button {
  border: none !important;
}
/* nav button:active {
  border: none !important;
} */

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.search-item {
  text-decoration: none !important;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--gallery);
  color: var(--dustygray);
  cursor: pointer;
}

.search-item:hover {
  background-color: var(--tuftbrush);
  color: var(--orange);
}
.search-item.active {
  background-color: var(--tuftbrush) !important;
  color: var(--orange) !important;
}

.search-input {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0px !important;
  border-bottom: 2px solid var(--tuftbrush) !important;
}
.search-input::placeholder {
  color: rgb(187, 187, 187) !important;
  box-shadow: none !important;
  font-size: normal;
  z-index: -111111111111111111111 !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}
.search-input:focus {
  box-shadow: none !important;
  outline: none !important;
  border-bottom: 2px solid var(--orange) !important;
}
