* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
#main {
  min-height: 100vh;
  background-color: #fffffe;
}

/* NAVBAR STYLES */
/* hover extracted from hover-min.css */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:active:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:hover:before {
  right: 0;
}
/* border radius on active elements */
.border-rad {
  border-bottom: 4px solid;
  border-image: linear-gradient(
    to left,
    hsl(192, 70%, 51%),
    hsl(136, 65%, 51%)
  );
  border-image-slice: 3;
}
/* navbar background on small screen */
.bg-gray {
  background: linear-gradient(rgba(82, 80, 26, 0.5), rgba(0, 0, 0, 0.5))
    center/cover no-repeat fixed !important;
}
/* toggle icon on small screen changes */
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  background: gray;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.underline {
  width: 60%;
  height: 5px;
  margin: 0 auto;
  background-color: #00ebc7;
}
.header {
  min-height: 80vh;
}

/* @media screen and (max-width: 320px) {
  h2 {
    font-size: 1.2rem !important;
  }
} */

a {
  text-decoration: none !important;
  color: #212529 !important;
}

/*  */
.text-main {
  color: #00214d;
}
.text-p {
  color: #1b2d45;
}
.text-sec {
  color: #00ebc7;
}
.button {
  background-color: #00ebc7 !important;
  color: #00214d !important;
}
.input-border {
  border: 2px solid #00214d !important;
}
